#sheetContainer {
    /*position: absolute;
    left:250px;a*/
    margin: auto;
    width:350px;
    height:500px;
    /*background-color:red;*/
    background-color:#eeeeee;
    border-style: groove;
}
#resourceControl {
    background-color:white;
}
/*
#spawnButton {
    position: fixed;
    top: 50px;
}
*/
#spawnLabel {
    position: fixed;
    top: 50px;
}
#spawnVariable {
    position: fixed;
    top: 90px;
}
#spawnImage{
    position: fixed;
    top: 130px;
}
#calcButton {
    position: fixed;
    top: 170px;
}
/*
#saveButton {
    position: fixed;
    top: 170px;
}
*/

.block {
    position:absolute;
    width:50px;
    height:50px;
    background-color:rebeccapurple;
}
.resourceDiv {
    position:absolute;
    width:150px;
    height:20px;
    background-color:transparent;
    outline-color:blue;
    outline-style:dotted;
    overflow:hidden;
}
#label {
    width: 100px;
    height: 100px;
    background-color:transparent;
}
.image {
    position:absolute;
    background-color:transparent;
    outline:1px dashed black;
    width:18px;
    height:18px;
}
