<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.senecacollege.myvmlab.student.tabletopassistant" >

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayMenuActivity"
            android:label="@string/title_activity_play_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HostJoinGameActivity"
            android:label="@string/title_activity_host_join_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateCharacterLoadSheetActivity"
            android:label="@string/title_activity_create_character"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SheetUI"
            android:label="@string/title_activity_create_character"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".loadFromLocalActivity"
            android:label="@string/title_activity_load_from_local"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".HostActivity"
            android:label="@string/title_activity_host"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".JoinActivity"
            android:label="@string/title_activity_join"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
